@import url("./index.css");


main {
  #article-section {
    text-align: center;
    div img {
      width: 100%;
    }
    .thankyou-container {
      h2,p {
        padding: 10px;
        margin: 10px;
      }
    }
  }
}